/*box-level*/
h1 {
    background-color:lightgray;
    height: 300px;
    width: 300px;
   /* border-width: 10px;
    border-style: solid;
    border-color: black;*/

    border: 10px solid black;

  /*  padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;*/

    padding: 10px;

   /* margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 20px;*/

    margin: 20px auto 40px auto;

    /*outline-width: 5px;
    outline-style: dashed;
    outline-color: salmon;*/

    outline: 5px dashed salmon;
    
}
/*inline level*/
a {
    /**/
    /*display: block;
    / se o elemento é inline por padrão, porém quer que apareça como block--

    ou usar display / inline block / continua como inline porém com algumas caracteristicas de block
    */
    border-width: 10px;
    border-style: solid;
    border-color: blue;

    border: 10px solid blue;
}


